*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;     
}
body{
    background-image: url(../images/background.jpg);
    overflow-y: hidden;
    animation: fade 3s;
}

div.container{
    width: 100vw;
}

h1{
    text-align: center;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 80px;
    margin-top: 8%;
    margin-bottom: 50px;
    animation-name:fadein;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-direction: normal;
    animation-play-state:running;
    font-family: 'Domaine Display', sans-serif;
    animation-name:spacing;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-direction: normal;
    animation-play-state:running;
}

.flexbox-coffee-container {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    align-items: center;
    margin:auto;
    animation-name:fadein ;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-direction: normal;
   
}
.flexbox-coffee-item-1{
    width: 350px;
    justify-content: center;
    align-items: center;
    animation-name:bounce;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-direction: normal;
    animation-play-state:running;
    animation-iteration-count: infinite;
}

.flexbox-coffee-item-2{
    width: auto;
    font-family: 'Josefin Sans', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 30px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

ul{
    text-align: left;
    font-size: 35px;
    margin-top: 0px;
    align-items:flex-start;
    vertical-align: top;
    padding:30px;
    list-style: none;
}

img.coffee-image {
    display:block;
    max-height: 400px;
    margin: 0 auto;
    margin-top: 20px;
    
}
.slide-right {
    width: 100%;
    overflow: hidden;
    margin-left: 10px;
    max-width: 700px
 }
 
 .slide-right ul {
    animation: 5s slide-right;
 }

 .back-button-container {
    display: flex;
    justify-content: center;
    animation-name:fadein ;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-direction: normal;
    margin-bottom: 30%;
}

.back-button{
    margin: 50px;
    font-family: 'Josefin Sans', sans-serif;
    color: rgb(187,115, 33);
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    color: rgb(187,115, 33);
    text-decoration: none;

}
a:hover{
    color: white;

}
@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}
 @keyframes slide-right {
     0%{
        margin-left: -500px;
        opacity: 0%;
     }
 
     50%{
        margin-left: 0%;
        opacity: 50%;
     }
     100%{
        margin-left: 0%;
        opacity: 100%;
     }
  }
  @keyframes fadein {
    0%{
       opacity: 0%;
    }

    50%{
       opacity: 50%;
    }
    100%{
       opacity: 100%;
    }
  }
  @keyframes spacing {
    0%{
        opacity: 0;
    }
    30%{
        letter-spacing: 25px;
    }
    85%{
        letter-spacing: 8px;
    }
    100% {
        opacity: 1;

    }
  }

@keyframes bounce {
    20%, 50%, 80%, to{
         transform: translateY(0);
    }
    40%{
          transform: translateY(-20px);
    }
    70%{
     transform: translateY(-10px);
    }
    90%{
     transform: translateY(-2px);
    }
 }
 
 .logo{
    position: relative;
    top:15px;
    left:20px;
}

.logo img{
    max-width:175px;
}


@media screen and (max-width: 768px) {

    h1{
        margin-top: 12%;
        margin-bottom: 10%;
        font-size: 60px;
        width: auto;
        text-align: center;
        animation-name:none;
    }
    
    ul{
        font-size: 30px;
        align-items: center;
    } 

    img.coffee-image {
        max-height: 300px;
    }
    

    .flexbox-coffee-item-2{
        font-size: 20px;
    }
   
    .logo{
        margin: auto;
        display: flex;
        justify-content: center;
      
        left: 0px;
    }

    .logo a img {
        width: 200px;
    }

    .back-button {
        font-size: 25px;
        margin-top:10%;
}

@media screen and (max-width: 480px) {
    .logo img{
        max-width:150px;
    }

    h1{
           margin-top: 15%;
           font-size:50px;
       }
       
       ul{
           font-size: 25px;
           align-items: center;
       } 
   
       img.coffee-image {
           max-height: 275px;
       }
       
   
       .flexbox-coffee-item-2{
           font-size: 20px;
           margin-top:10%;
       }
      
       .logo{
           margin: auto;
           display: flex;
           justify-content: center;
           left: 0px;
       }
   
    
   
       .back-button {
        font-size: 22px;
    }
}
}